.root {
    -fx-background-color: #F3F3F3;
}
.left-panel {
    -fx-background-color: #0A2A35;
}
.login-header{

}
.login-header-content {
    -fx-background-color: rgba(113, 166, 114, 0.05);
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: rgba(131, 183, 0, 0.35);
}
.login-form-container{
    /*-fx-background-color: rgba(215, 215, 215, 0.19);*/
    -fx-background-color: rgba(113, 166, 114, 0.15);
    -fx-border-width: 1px;
    -fx-border-color: rgba(215, 215, 215, 0.25);
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}
.login-form-icon {
    -fx-border-color: rgba(122, 122, 122, 0.55);
    -fx-border-width: 1px;
    -fx-border-radius: 50px;
    -fx-padding: 3px;
}
.primary-button {
    -fx-background-color: #0A2A35;
    -fx-background-radius: 20px;
}
.login-form-input {
    -fx-background-radius: 20px;
    -fx-padding: 5px 5px 5px 20px;
    -fx-border-width: 1px;
    -fx-border-radius: 20px;
    -fx-border-color: #a6a6a6;
}
.login-form-input:focused {
    -fx-border-color: rgba(10, 42, 53, 0);
    -fx-border-width: 0px;
    -fx-border-radius: 20px;
    -fx-focus-color: #83b700;
    -fx-faint-focus-color: rgba(131, 183, 0, 0.17);
}
.left-menu {
    -fx-background-color: #e7e7e7;
}
.left-menu-header {
    -fx-background-color: rgba(10, 42, 53, 1);
}
.left-menu-button{
    -fx-background-color: #e7e7e7;
    -fx-border-radius: 7px;
    -fx-background-radius: 7px;
    /*-fx-effect: dropshadow(gaussian, #FFFFFF, 30, 0, -10, -10),*/
    /*dropshadow(gaussian, rgba(174, 174, 192, 0.4), 30, 0, 10, 10);*/
}
.left-menu-button:hover{
    -fx-border-color: rgba(25, 200, 150, 0.3);
    -fx-cursor: hand;
    -fx-background-color: rgba(255, 255, 255);

}
.left-menu-button-dot {
    -fx-background-color: #1DDAB7;
    -fx-border-color: #fdfdfd;
    -fx-border-width: 1px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-effect: dropshadow(gaussian, #1DDAB7, 5, 0, 0, 0);
}
.left-menu-button.selected{
    -fx-border-color: rgba(25, 200, 150, 0.3);
    -fx-cursor: hand;
    -fx-background-color: rgba(255, 255, 255);
}
.left-menu-button.selected .dot-container {
    -fx-opacity: 1 !important;
}
.left-menu-button .dot-container {
    -fx-opacity: 0 !important;
}

/* STYLES TABLE VIEW */

/* Style général de la TableView */
.table-view {
    -fx-background-color: transparent;
    -fx-border-color: #34c79b;
    -fx-border-width: 0 0 0 4px;
}

/* En-tête de la table */
.table-view .column-header-background {
    -fx-background-color: #0A2A35;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-padding: 10px;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

/* Cellules */
.table-view .table-cell {
    -fx-padding: 10px;
    -fx-alignment: center-left;
}

/* Lignes */
.table-row-cell {
    -fx-background-color: #fdfdfd;
    -fx-border-color: #f1f1f1;
    -fx-table-cell-border-color: transparent;
    -fx-border-width: 2 0 1 0;
}

/* Lignes alternées */
.table-row-cell:odd {
    -fx-background-color: #fdfdfd;
}
.table-row-cell:even {
    -fx-background-color: #fdfdfd;
}

/* Survol des lignes */
.table-row-cell:hover {
    -fx-background-color: rgb(211, 238, 250);
}

/* Ligne sélectionnée */
.table-row-cell:selected {
    -fx-background-color: #1FDAB8;
}
.table-row-cell:selected .text {
    -fx-fill: #ffffff ;

}

/* Scrollbars */
.table-view .scroll-bar:horizontal,
.table-view .scroll-bar:vertical {
    -fx-background-color: transparent;
}

.table-view .increment-button,
.table-view .decrement-button {
    -fx-background-color: transparent;
}

.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color: #BDBDBD;
    -fx-background-radius: 5em;
}

/* Style quand la table est vide */
.table-view .placeholder .label {
    -fx-text-fill: #757575;
    -fx-font-style: italic;
}
.context-button {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}
.context-button:hover {
    -fx-background-color: #f1f1f1;
}

.context-menu {
    -fx-background-color: #ffffff;
    -fx-background-radius: 5 5 5 5 !important;
    -fx-padding: 5;
    -fx-border-radius:5 !important;
    -fx-min-width: 150;
    -fx-cursor: hand;
}
.menu-item {
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}
.menu-item:hover {
    -fx-background-color: #c9c9c9;
}
.menu-item:selected {
    -fx-background-color: #c9c9c9;
}
.menu-item:selected{
    -fx-text-fill: #000000 !important;

}
.menu-item:focused {
    -fx-background-color: rgba(201, 201, 201, 0.4);
}
.menu-delete {
    -fx-border-radius: 5;
}
.menu-delete .label{
    -fx-text-fill: red !important;
}
.menu-delete:hover {
    -fx-background-color: #690000;
}
.menu-delete:hover .label{
    -fx-text-fill: #f1f1f1 !important;
}
.menu-item:focused .label {
    -fx-text-fill: #000000;
}
.form-error {
    -fx-border-color: #a20101 !important;
    -fx-border-width: 1 !important;
}
.warning {
    -fx-border-color: orange;
}
.form-error-container {
    -fx-border-color: #f80000 !important;
    -fx-border-radius:15;
    -fx-background-radius:15;
    -fx-background-color: #fcc3c3 !important;
    -fx-border-width: 1 !important;
    -fx-padding: 3 10;
}
.form .text-input {
    -fx-background-radius: 20;
    -fx-padding: 5 5 5 10;
    -fx-border-width: 1;
    -fx-border-color: #83b700;
    -fx-border-radius: 20;
}
.form .combo-box {
    -fx-background-radius: 20;
    -fx-padding: 2 2 2 10;
    -fx-border-width: 1;
    -fx-border-radius: 20;
    -fx-border-color: #83b700;
}